footer {
  font-size: 1vw;
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  text-align: center;
}

h1 {
  font-size: 6vw;
}

#count {
  font-size: 9vw;
  color: red;
}
